{% extends "layout.html" %}
{% set active_page = 'home' %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <span class="h2">Formularz dodawania urządzenia do sieci bezprzewodowej</span>
    </div>

    <div class="form-content">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#main">Dodawanie urządzenia</a></li>
            <li><a href="#edit">Edycja urządzenia</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="main">
                <form role="form" class="form-horizontal">
                    <input type="hidden" name="action" value="add" />

                    {% if error is defined %}
                    <div class="alert alert-danger">
                        <div class="text-center">
                            {{error}}
                        </div>
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="inputType" class="col-sm-2 control-label">Dane osobowe</label>
                        <div class="row">
                            <div class="col-xs-2">
                                <select tabindex="1" id="inputType" name="type" class="form-control">
                                    <option selected value="u">Uczeń</option>
                                    <option value="n">Nauczyciel</option>
                                    <option value="p">Inny pracownik</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" name="fullname" id="fullname" required placeholder="Imię i nazwisko">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputClass" class="col-sm-2 control-label">Klasa</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="class" id="inputClass" placeholder="np. 3K">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputMac" class="col-sm-2 control-label">MAC</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="mac" id="inputMac" required placeholder="Adres MAC">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Adres e-mail</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" name="email" id="inputEmail" required placeholder="opcjonalnie - wyślemy Ci Twój klucz">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Akceptuję <a href="{{ urlFor('rules') }}" title="regulamin">regulamin</a> dostępu do sieci
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </form>
            </div>
            <div class="tab-pane" id="edit">...</div>
        </div>
    </div>
</div>
{% endblock %}
