<!DOCTYPE html>
<html lang="{wog: lang}">
<head>
    <meta name="robots" content="noindex,nofollow" />
    <meta charset="{wog: charset}" />
    <meta name="keywords" content="{wog: keywords}" />
    <meta name="description" content="{wog: descritpion}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{wog: meta}
    <title>{wog: title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/init.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <span class="brand">ZSE-E Radomsko Wi-Fi</span>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {wog: navbar}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="logo"></div>
    {wog: output}
    <hr>
    <footer>
        <p>&copy; Autorem skryptu jest <a href="http://wogu.pl" title="WoG" target="_blank">WoG</a></p>
    </footer>
</div>
</body>
</html>