{% extends "layout.html" %}

{% block content %}
{#{ dump(entries) }#}
<div class="text-center">
    <span class="h2">Menadżer urządzeń</span>
</div>
{% if error is defined %}
<div class="alert alert-danger">
    <div class="text-center">
        {{error}}
    </div>
</div>
{% endif %}
<hr/>
<div class="text-center">
    <span class="h3">Lista autoryzowanych</span>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>MAC</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th></th>
        <th>E-mail</th>
        <th>Urządzenie</th>
        <th>Data dodania</th>
        <th>Klucz WEP</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
    <tr>
        <td>{{entry.mac|upper}}</td>
        <td>{{entry.firstName}}</td>
        <td>{{entry.lastName}}</td>
        <td><span class="label label-primary">{% if entry.type == 'u' %}Uczeń {{entry.grade|upper}}{% elseif entry.type == 'n' %}Nauczyciel{% else %}Inny pracownik{% endif %}</span></td>
        <td>{% if entry.email is defined %}<a href="mailto:{{entry.email}}">{{entry.email}}</a>{% endif %}</td>
        <td>{% if entry.device == 'pc' %}Laptop{% elseif entry.device == 'tel' %}Telefon{% elseif entry.device == 'tab' %}Tablet{% else %}Inne{% endif %}</td>
        <td>{{entry.date|date("d.m.Y")}}</td>
        <td>{% if entry.key == 'static' %}{{ STATIC_WEP }}{% else %}{{entry.key}}{% endif %}</td>
        <td>
            <form method="post" style="float:left;">
                <input type="hidden" name="action" value="delete" />
                <input type="hidden" name="scope" value="entries" />
                <input type="hidden" name="mac" value="{{entry.mac}}" />
                <button type="submit" class="btn btn-warning btn-xs">Usuń</button>
            </form>
            <form method="post" style="float:left; padding-left: 5px;">
                <input type="hidden" name="action" value="blacklist" />
                <input type="hidden" name="scope" value="entries" />
                <input type="hidden" name="mac" value="{{entry.mac}}" />
                <button type="submit" class="btn btn-danger btn-xs">Zablokuj</button>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="8" class="text-center">Lista jest pusta.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr/>
<div class="text-center">
    <span class="h3">Lista zablokowanych</span>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>MAC</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th></th>
        <th>E-mail</th>
        <th>Urządzenie</th>
        <th>Data dodania</th>
        <th>Klucz WEP</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in blacklist %}
    <tr>
        <td>{{entry.mac|upper}}</td>
        <td>{{entry.firstName}}</td>
        <td>{{entry.lastName}}</td>
        <td><span class="label label-primary">{% if entry.type == 'u' %}Uczeń {{entry.grade|upper}}{% elseif entry.type == 'n' %}Nauczyciel{% else %}Inny pracownik{% endif %}</span></td>
        <td>{% if entry.email is defined %}<a href="mailto:{{entry.email}}">{{entry.email}}</a>{% endif %}</td>
        <td>{% if entry.device == 'pc' %}Laptop{% elseif entry.device == 'tel' %}Telefon{% elseif entry.device == 'tab' %}Tablet{% else %}Inne{% endif %}</td>
        <td>{{entry.date|date("d.m.Y")}}</td>
        <td>{% if entry.key == 'static' %}{{ STATIC_WEP }}{% else %}{{entry.key}}{% endif %}</td>
        <td>
            <form method="post" style="float:left;">
                <input type="hidden" name="action" value="delete" />
                <input type="hidden" name="scope" value="blacklist" />
                <input type="hidden" name="mac" value="{{entry.mac}}" />
                <button type="submit" class="btn btn-warning btn-xs">Usuń</button>
            </form>
            <form method="post" style="float:left; padding-left: 5px;">
                <input type="hidden" name="action" value="readd" />
                <input type="hidden" name="scope" value="blacklist" />
                <input type="hidden" name="mac" value="{{entry.mac}}" />
                <button type="submit" class="btn btn-success btn-xs">Przywróć</button>
            </form>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="8" class="text-center">Lista jest pusta.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
