{% extends "layout.html" %}
{% set active_page = 'rules' %}

{% block content %}
<div class="well well-lg">
    <div class="text-center">
        <span class="h2">Regulamin korzystania z WiFi<br />
        <small>na terenie Zespołu Szkół Elektryczno-Elektronicznych w Radomsku</small></span>
    </div>
    <br />

    <h3>Postanowienia ogólne</h3>
    <p class="text-center">§1</p>
    <p>Niniejszy regulamin określa zasady dostępu do Internetu za pomocą sieci bezprzewodowej, działającej w obrębie budynku ZSE-E w Radomsku.</p>

    <p class="text-center">§2</p>
    <p>Właścicielem sieci jest <i>Zespół Szkół Elektryczno-Elektronicznych</i> w Radomsku zwany dalej <i>operatorem</i>.</p>
    <br />

    <h3>Przyłączenie do sieci, odłączenie, rezygnacja z usługi</h3>
    <p class="text-center">§3</p>
    <p>Do sieci podłączeni mogą być uczniowie i pracownicy ZSE-E w Radomsku, którzy są objęci zasięgiem sieci. Dostęp użytkowników do sieci jest bezpłatny.</p>

    <p class="text-center">§3b</p>
    <p>W wyjątkowych sytuacjach do sieci mogą być przyłączeni tzw. goście – takie przyłączenie ma charakter tymczasowy.</p>

    <p class="text-center">§4</p>
    <p>Użytkownicy chcący uzyskać stały dostęp do sieci bezprzewodowej wypełniają formularz na stronie WWW podanej przez operatora sieci. Decyzję o podłączeniu do sieci podejmuje operator sieci i ma ona charakter uznaniowy. Czas pomiędzy wypełnieniem formularza, a uzyskaniem pełnego dostępu do sieci – nie został określony.</p>

    <p class="text-center">§5</p>
    <p>Użytkownikiem sieci jest osoba korzystająca z komputera lub innego urządzenia podłączonego do sieci WiFi, po otrzymaniu zgody na przyłączenie.</p>

    <p class="text-center">§6</p>
    <p>Użytkownik wykonuje we własnym zakresie odpowiednią konfigurację sprzętu oraz instalację oprogramowania niezbędnego do korzystania z sieci.</p>

    <p class="text-center">§7</p>
    <p>Podłączenie do sieci w przypadku uczniów ma charakter czasowy i trwa do końca ich nauki w bieżącym roku szkolnym.</p>

    <p class="text-center">§8</p>
    <p>Użytkownik może wcześniej zrezygnować z korzystania z sieci, jednakże musi o tym fakcie powiadomić operatora.</p>

    <h3>Obowiązki i prawa operatora</h3>
    <p class="text-center">§9</p>
    <p>Operator umożliwia podłączenie się użytkownikowi do sieci. W ramach oferowanej usługi operator zapewnia:<br />
    <ul>
        <li>dostęp do Internetu</li>
        <li>przydzielenie stałego adresu IP, maski, bramy oraz kluczy dostępowych do sieci WiFi</li>
        <li>zachowanie tajemnicy telekomunikacyjnej, nieprzekazywanie informacji o rodzaju i charakterze połączeń użytkownika osobom trzecim, poza przypadkami przewidzianymi przepisami prawa.</li>
    </ul>
    </p>

    <p class="text-center">§10</p>
    <p>Operator nie ponosi odpowiedzialności za wadliwe funkcjonowanie sieci spowodowane przez użytkowników jak i przyczyny leżące poza jego zasięgiem w szczególności za działanie sił wyższych takich jak awarie innych systemów informatycznych lub łączy.</p>
    <br />

    <h3>Obowiązki i prawa użytkownika sieci</h3>
    <p class="text-center">§11</p>
    <p>Utrzymywanie porządku i dbanie o komputer lub inne urządzenie wykorzystywane do podłączenia do sieci leży po stronie użytkownika.</p>

    <p class="text-center">§12</p>
    <p>W związku z tym, że operator nie prowadzi działalności związanej z serwisem komputerowym, wszelkie konflikty czy problemy ze sprzętem, wykorzystywanym przez użytkownika do podłączenia do sieci, uniemożliwiające  użytkownikowi poprawną pracę w sieci, należy rozwiązywać we własnym zakresie.</p>

    <p class="text-center">§13</p>
    <p>Użytkownik sam dba o bezpieczeństwo danych przechowywanych na urządzeniach wykorzystywanych do podłączenia do sieci. Operator nie ponosi odpowiedzialności za transakcje dokonane za pośrednictwem Internetu oraz nie odpowiada za działanie oprogramowania pobranego z Internetu.</p>

    <p class="text-center">§14</p>
    <p>Operator nie odpowiada za szkody wynikające, bezpośrednio lub pośrednio, z korzystania z Internetu za pomocą sieci WiFi.</p>

    <p class="text-center">§15</p>
    <p>Użytkownik odpowiada za podejmowane przez siebie działania, które mogą stanowić naruszenie przepisów prawa, w szczególności z konsekwencjami muszą liczyć się osoby pobierające i udostępniające w sieci zasoby, które podlegają ochronie z mocy przepisów prawa autorskiego.</p>

    <p class="text-center">§16</p>
    <p>Użytkownik zobowiązuje się do przestrzegania zasad korzystania z sieci, a w szczególności nie podłączania do sieci urządzeń niesprawnych, źle skonfigurowanych lub nieprzeznaczonych do pracy w sieci.</p>

    <p class="text-center">§17</p>
    <p>Zabrania się użytkownikom działań związanych z szeroko pojętym hackingiem dotyczącym sieci a w szczególności:
    <ul>
        <li>podszywania się pod MAC adresy innych użytkowników sieci</li>
        <li>przeciążania pracy bezprzewodowych punktów dostępu lub innych urządzeń sieci<li>
        <li>analizowania za pomocą różnych metod i narzędzi działania szkolnej sieci<li>
        <li>przeciążania pracy innych serwerów, stron www oraz innych maszyn w Internecie</li>
    </ul>
    </p>

    <p class="text-center">§18</p>
    <p>Użytkownik zobowiązuje się do:<br />
    <ul>
        <li>utrzymania w tajemnicy hasła dostępu do sieci WiFi i pozostałych ustawień sieciowych oraz nie udostępniania tych informacji osobom trzecim</li>
        <li>nie udostępniania łącza osobom trzecim</li>
        <li>informowania operatora o wszelkich nieprawidłowościach w funkcjonowaniu sieci</li>
    </ul>
    </p>

    <p class="text-center">§19</p>
    <p>Użytkownik uprawniony jest do podłączenia do sieci tylko dwóch urządzeń.</p>

    <p class="text-center">§20</p>
    <p>Użytkownik ponosi pełną odpowiedzialność prawną i finansową za szkody spowodowane jego działalnością oraz za działania spowodowane przez osoby postronne, które korzystały z zasobów sieci przy pomocy jego komputera lub innego urządzenia wykorzystywanego do pracy w sieci, za jego zgodą w wiedzą jak i bez jego zgody i wiedzy.</p>
    <br />

    <h3>Karne odłączenie od sieci</h3>
    <p class="text-center">§21</p>
    <p>Karne odłączenie od sieci następuje w przypadku rażącego naruszenia zasad współużytkowania sieci oraz niniejszego regulaminu, w szczególności za:<br />
    <ul>
        <li>próby naruszenia prywatności innych użytkowników sieci poprzez wykorzystanie nielegalnie zdobytych haseł, kodów itp.</li>
        <li>działanie na szkodę innych użytkowników sieci (wysyłanie poczty w imieniu innych użytkowników, próby włamania się na komputery lub inne urządzenia pracujące w sieci, rozsyłanie mallware, rozsyłanie spamu, ataki DoS, itp.)</li>
        <li>uruchamianie przez użytkowników sieci usług czy programów udostępniających zasoby sieciowe (w tym p2p)</li>
        <li>rozsyłanie bądź umieszczanie na stronach internetowych nieprawdziwych lub obraźliwych informacji</li>
        <li>przeglądanie stron internetowych o kontrowersyjnych treściach</li>
    </ul>
    <br />

    <h3>Postanowienia końcowe</h3>
    <p class="text-center">§22</p>
    <p>Operator zastrzega sobie prawo wprowadzenia zmian w niniejszym regulaminie. O wprowadzonych zmianach operator będzie informował użytkowników poprzez przekierowanie przy pierwszym połączeniu na stronę info oraz na odpowiednich stronach WWW (www.zse-e.edu.pl oraz na stronie z formularzem do dodawania użytkowników do sieci).</p>

    <p class="text-center">§23</p>
    <p>Użytkownik sieci wyraża zgodę na przetwarzanie i udostępnianie swoich danych osobowych Operatorowi (zgodnie z art. 24 ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych tj. Dz. U. Z 2002 r. Nr 101, poz. 926 ze zm.), w celu świadczenia usługi.</p>
</div>
{% endblock %}
