{% extends "layout.html" %}

{% block content %}
<div id="srodek">
    <h1>Oto Twój klucz WEP do uwierzytelnienia w sieci</h1>
    <div align="center">
        (został on również wysłany na podany przez Ciebie adres e-mail)
    </div>
    <div align="center">
        <input type="text" maxlength="13" onMouseOver="selectWEPCode('wep')" class="wepbox" style="cursor: pointer" id="wep" value="{wog: wep}" />
    </div>
    <h2>Podane przez Ciebie dane muszą zostać zweryfikowane przez administratora sieci. Czas realizacji do 7 dni roboczych!</h2>
</div>
{% endblock %}
